.about-us__header {
  margin: 38px 0 8px 15px;
}

.about-us__item-header {
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 37px 15px;
}

.about-us p {
  width: 290px;
  margin: 0 0 35px 15px;
  font-weight: 300;
  line-height: 22px;
}

.about-us p span {
  display: none;
}

.about-us__gym-photo {
  margin-bottom: 32px;
}

.about-us__video {
  position: relative;
  width: 320px;
  height: 170px;
  margin-bottom: 39px;
  border: none;
  background-color: #000000;

  &:hover .about-us__video-button {
    border-color: rgba(16, 38, 84, 0.6);
  }

  &:hover .about-us__video-button-gradient-background {
    display: none;
  }

  &:hover .about-us__video-button-circle {
    fill: #fff;
  }

  &:hover .about-us__video-button-triangle {
    fill: rgba(16, 38, 84, 0.6);
  }
}
.about-us__video-button-circle {
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 52px;
  height: 52px;
  fill: none;
}

.about-us__video-button-triangle {
  position: absolute;
  top: 49%;
  left: 53%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  fill: #fff;
}

.about-us__video-button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 72px;
  height: 72px;
  border: 2px solid #ed0233;
  border-radius: 50%;
  background-color: transparent;

  &:focus {
    border-color: #102654;
  }

  &:focus .about-us__video-button-gradient-background {
    display: none;
  }

  &:focus .about-us__video-button-circle {
    fill: #c8c9cc;
  }

  &:focus .about-us__video-button-triangle {
    fill: #102654;
  }

  &:active {
    border-color: #102654;
  }

  &:active .about-us__video-button-circle {
    fill: #fff;
  }

  &:disabled {
    cursor: auto;
    border-color: #102654;
    opacity: 0.3;
  }

  &:disabled .about-us__video-button-gradient-background {
    display: none;
  }

  &:disabled .about-us__video-button-circle {
    fill: #fff;
  }

  &:disabled .about-us__video-button-triangle {
    fill: rgba(16, 38, 84, 0.6);
  }
}

.about-us__video-frame {
  border: none;
}

@media (min-width: $tablet-width) {
  .about-us__header {
    margin: 58px 0 14px 263px;
  }

  .about-us__item-header {
    font-size: 20px;
    margin: 0 0 34px 230px;
  }

  .about-us p {
    font-size: 16px;
    line-height: 24px;
    width: 500px;
    text-align: center;
    margin: 0 0 36px 134px;
  }

  .about-us br {
    display: none;
  }

  .about-us__gym-photo {
    width: 678px;
    height: 345px;
    margin: 0 0 116px 45px;
  }

  .about-us__video {
    position: absolute;
    left: 249px;
    top: 488px;
    width: 270px;
    height: 170px;
    padding-bottom: 0;
    margin: 0;
  }

  .about-us__video-background {
    width: 270px;
  }

  .about-us__video-button-gradient-background {
    margin-bottom: -1px;
  }

  .about-us__video-frame {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: $desktop-width) {
  .about-us__header {
    font-size: 54px;
    margin: 116px 0 20px 103px;
  }

  .about-us__item-header {
    font-size: 22px;
    margin: 0 0 92px 104px;
  }

  .about-us p {
    text-align: left;
    width: 355px;
    margin-left: 104px;
  }

  .about-us p span {
    display: inline-block;
    margin-top: 8px;
    width: 325px;
  }

  .about-us p span br {
    display: inline;
  }

  .about-us__flex-wrapper {
    display: flex;
  }

  .about-us__video {
    width: 360px;
    height: 230px;
    left: 503px;
    top: 405px;
    padding-bottom: 0;
  }

  .about-us__video-background {
    width: 360px;
    height: 230px;
  }

  .about-us__gym-photo {
    width: 660px;
    height: 400px;
    margin-top: 120px;
    margin-left: 144px;
    margin-bottom: 236px;
  }

  .about-us__video-button {
    width: 100px;
    height: 100px;
  }

  .about-us__video-button-gradient-background {
    width: 72px;
    height: 72px;
  }

  .about-us__video-button-circle {
    width: 72px;
    height: 72px;
    top: 50%;
  }

  .about-us__video-button-triangle {
    top: 50%;
    left: 54%;
    width: 14px;
    height: 14px;
  }
}
