.about-us__header {
  margin: 38px 0 8px 15px;
}

.about-us__item-header {
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 37px 15px;
}

.about-us p {
  width: 290px;
  margin: 0 0 35px 15px;
  font-weight: 300;
  line-height: 22px;
}

.about-us p span {
  display: none;
}

.about-us__gym-photo {
  margin-bottom: 32px;
}

.about-us__video {
  margin-bottom: 35px;
}

@media (min-width: $tablet-width) {
  .about-us__header {
    margin: 58px 0 14px 263px;
  }

  .about-us__item-header {
    font-size: 20px;
    margin: 0 0 34px 230px;
  }

  .about-us p {
    font-size: 16px;
    line-height: 24px;
    width: 500px;
    text-align: center;
    margin: 0 0 36px 134px;
  }

  .about-us br {
    display: none;
  }

  .about-us__gym-photo {
    width: 678px;
    height: 345px;
    margin: 0 0 116px 45px;
  }

  .about-us__video {
    position: absolute;
    left: 249px;
    top: 488px;
    width: 270px;
    height: 170px;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .about-us__header {
    font-size: 54px;
    margin: 116px 0 20px 103px;
  }

  .about-us__item-header {
    font-size: 22px;
    margin: 0 0 92px 104px;
  }

  .about-us p {
    text-align: left;
    width: 355px;
    margin-left: 104px;
  }

  .about-us p span {
    display: inline-block;
    margin-top: 8px;
    width: 325px;
  }

  .about-us p span br {
    display: inline;
  }

  .about-us__flex-wrapper {
    display: flex;
  }

  .about-us__video {
    width: 360px;
    height: 230px;
    left: 503px;
    top: 405px;
  }

  .about-us__gym-photo {
    width: 660px;
    height: 400px;
    margin-top: 120px;
    margin-left: 144px;
    margin-bottom: 236px;
  }
}
