.about-us__header {
  margin: 0 0 8px 15px;
}

.about-us__item-header {
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 36px 15px;
}

.about-us p {
  width: 290px;
  margin: 0 0 35px 15px;
  font-weight: 300;
  line-height: 22px;
}

.about-us__gym-photo {
  margin-bottom: 32px;
}

.about-us__video {
  margin-bottom: 35px;
}
