.event__content-wrapper {
  background-color: #ed0233;
  color: #ffffff;
  margin: 24px 15px 0;
}

.event__flex-wrapper {
  display: flex;
}

.event__flex-wrapper--column {
  flex-direction: column;
}

.event__date-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 41px;
  margin-left: 34px;
}

.event__header {
  width: 120px;
  font-family: "Alumni Sans", "Arial", sans-serif;
  font-size: 48px;
  font-weight: 600;
  line-height: 54px;
  margin: 0 0 16px 40px;
  padding-top: 40px;
}

.event__date,
.event__time {
  font-size: 16px;
  font-weight: 300;
}

.event__date-day,
.event__time-count {
  font-size: 24px;
  font-weight: 700;
}

.event__date-month,
.event__date-year {
  font-size: 12px;
}

.event__date {
  border-bottom: 1px solid #fff;
  padding-bottom: 2px;
  width: 42px;
}

.event__date-month {
  margin-top: 2px;
  margin-left: 4px;
}

.event__date-year {
  margin-top: -2px;
  margin-left: 4px;
}

.event__time {
  padding-bottom: 2px;
  border-bottom: 1px solid #fff;
  margin-top: 5px;
}

.event__description {
  width: 170px;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  margin: 0 0 16px 40px;
}

.event__application-fill {
  padding: 22px 50px;
  margin-left: 40px;
  margin-bottom: 40px;

  &:hover,
  &:active {
    background-color: #fff;
  }

  &:hover {
    color: #103aae;
  }

  &:active {
    color: #102654;
  }

  &:focus {
    border-color: #000;
    background-color: rgba(255, 255, 255, 0.8);
  }

  &:disabled {
    background-color: transparent;
    color: #fff;
    opacity: 0.5;
  }
}

.event__image {
  margin-left: 15px;
  margin-bottom: 59px;
}

@media (min-width: $tablet-width) {
  .event__wrapper {
    display: flex;
    margin-top: 60px;
    margin-left: 30px;
  }

  .event__content-wrapper {
    margin: 0 0 4px 15px;
    padding-right: 39px;
  }

  .event__date-wrapper {
    margin-top: 42px;
    margin-left: 0;
  }

  .event__header {
    font-size: 48px;
    line-height: 54px;
    margin-top: 0;
  }

  .event__date,
  .event__time {
    font-size: 18px;
  }

  .event__date-month,
  .event__date-year {
    font-size: 14px;
  }

  .event__date {
    padding-bottom: 3px;
    width: 100px;
    margin-bottom: 10px;
  }

  .event__date-month {
    margin-top: -4px;
    margin-left: 6px;
    margin-bottom: 5px;
  }

  .event__date-year {
    margin: 0 0 0 7px;
  }

  .event__time {
    margin-top: 14px;
    padding-bottom: 3px;
  }

  .event__description {
    font-size: 18px;
    line-height: 24px;
    width: 200px;
    margin-top: 8px;
    margin-bottom: 10px;
  }

  .event__application-fill {
    padding: 25px 56px;
  }

  .event__image {
    width: 378px;
    height: 348px;
    margin: 0;
  }
}
