.faq {
  background-color: #f8f9fc;
  padding-bottom: 70px;
}

.faq__header {
  margin: 0 0 31px 66px;
  padding-top: 69px;
}

.faq__buttons-wrapper {
  display: grid;
  grid-template-columns: 150px auto;
  gap: 9px 0;
  margin-left: 15px;
  margin-bottom: 35px;
}

.faq__button {
  color: #102654;
  border: 1px solid rgba(16, 38, 84, 0.2);
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  width: 140px;
  padding: 13px 10px;

  &:hover {
    border-color: #102654;
  }

  &:focus {
    background-color: #fff;
  }

  &:disabled {
    border-color: rgba(16, 38, 84, 0.2);
    color: #c8c9cc;
    background-color: transparent;
  }
}

.faq__button--active {
  border: none;
  padding: 14px 11px;
  background-image: linear-gradient(110deg, rgb(237, 2, 51) 16.78%,rgb(0, 62, 183) 96.94%);
  color: #fff;
}

.faq__item {
  margin-left: 15px;
  margin-bottom: 0px;
  border-top: 1px solid #74819c;
  width: 290px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.faq__item--schedule {
  margin-bottom: -20px;
}

.faq__item--coolers {
  margin-bottom: -20px;
}

.faq__item--trainers {
  border-bottom: 1px solid #74819c;
  padding-bottom: 0;
}

.faq__item-header {
  display: inline-block;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 50px 20px 0;
  width: 210px;
}

.faq__item-header--trainers {
  width: 240px;
  margin-right: 20px;
}

.faq__item-wrapper {
  display: flex;
}

.faq__item-expand {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #1C3374;
  cursor: pointer;
  padding: 0;
  margin-top: 5px;

  &:hover {
    background-color: #1c3374;
  }

  &:focus {
    background-color: #74819c;
  }

  &:hover .faq__item-expand-icon,
  &:focus .faq__item-expand-icon{
    stroke: #fff;
  }

  &:disabled {
    background-color: transparent;
    border-color: rgba(28, 51, 116, 0.3);
  }

  &:disabled .faq__item-expand-icon {
    stroke: rgba(28, 51, 116, 0.3);
  }
}

.faq__item-expand--coolers {
  margin-top: 15px;
}

.faq__item-expand--trainers {
  margin-top: 15px;
}

.faq__item-expand-icon {
  stroke: #1c3374;
  margin-top: 5px;
}

.faq__item-text {
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  margin: 0;
  width: 290px;
}

@media (min-width: $tablet-width) {
  .faq {
    padding-bottom: 60px;
  }

  .faq__header {
    margin-left: 262px;
    margin-bottom: 40px;
    padding-top: 58px;
  }

  .faq__buttons-wrapper {
    display: flex;
    gap: 0;
    margin-left: 45px;
    margin-bottom: 45px;
  }

  .faq__button {
    font-size: 18px;
    width: 162px;
    padding: 16px 11px;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  .faq__item {
    width: auto;
    margin-left: 45px;
    margin-right: 45px;
    padding-bottom: 25px;
  }

  .faq__item--schedule {
    margin-bottom: -10px;
  }

  .faq__item--coolers {
    margin-bottom: -10px;
  }

  .faq__item--trainers {
    padding-top: 11px;
    padding-bottom: 6px;
  }

  .faq__item-header {
    font-size: 22px;
    line-height: 22px;
    width: auto;
    margin-top: 15px;
    margin-right: auto;
    margin-bottom: 18px;
  }

  .faq__item-text {
    font-size: 18px;
    line-height: 24px;
    width: 550px;
  }

  .faq__item-expand {
    width: 40px;
    height: 40px;
  }

  .faq__item-expand--coolers {
    margin-top: 5px;
  }

  .faq__item-expand-icon {
    width: 20px;
    height: 20px;
    margin-top: 3px;
  }
}

@media (min-width: $desktop-width) {
  .faq {
    padding-bottom: 100px;
  }

  .faq__flex-wrapper {
    display: flex;
  }

  .faq__buttons-wrapper {
    flex-direction: column;
    margin-left: 103px;
    margin-bottom: 0;
  }

  .faq__header {
    font-size: 54px;
    padding-top: 96px;
    margin-left: 103px;
    margin-bottom: 46px;
  }

  .faq__item-header {
    font-size: 24px;
  }

  .faq__button {
    width: 260px;
    padding-top: 19px;
    padding-bottom: 13px;

    &:not(:last-child) {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }

  .faq__items-wrapper {
    margin-left: 40px;
  }

  .faq__item {
    margin-left: 0;
    width: 860px;
    padding-bottom: 22px;
  }

  .faq__item--schedule {
    margin-bottom: -22px;
  }

  .faq__item--coolers {
    margin-bottom: -22px;
  }

  .faq__item--trainers {
    padding-top: 20px;
    padding-bottom: 0;
  }

  .faq__item-header {
    margin-top: 11px;
    margin-bottom: 32px;
  }

  .faq__item-header--trainers {
    width: auto;
  }

  .faq__item-header--trainers br {
    display: none;
  }

  .faq__item-text {
    width: 610px;
  }

  .faq__item-text-break {
    display: none;
  }

  .faq__item-expand {
    margin-top: 2px;
  }

  .faq__item-expand-icon {
    margin-top: 5px;
  }
}
