.features {

  background-color: #f8f9fc;
}

.features__header {
  margin: 0 0 32px 54px;
  padding-top: 40px;
}

.features__item {
  margin-left: 15px;
  text-align: center;
  margin-bottom: 30px;
}

.features__item--simulators {
  background-color: #1c3374;
  color: #ffffff;
  margin-top: 40px;
  margin-left: 0;
  margin-bottom: 35px;
}

.features__item-flex-wrapper {
  display: flex;
  flex-direction: column;
}

.features__item-number {
  display: inline-block;
  font-size: 64px;
  font-weight: 700;
  background: linear-gradient(128.66deg, rgb(209, 10, 66), rgb(0, 65, 202));
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-left: -16px;
  margin-bottom: -3px;
}

.features__item-number--cars {
  margin-bottom: -2px;
}

.features__item-number--simulators {
  background: none;
  -webkit-text-fill-color: #ffffff;
  padding-top: 24px;
  margin-left: 0;
  margin-bottom: -1px;
}

.features__item-number--years {
  margin-top: -1px;
  margin-bottom: -2px;
}

.features__item-number-unit {
  display: block;
  font-size: 14px;
  font-weight: 400;
  margin-left: -17px;
  margin-bottom: 13px;
}

.features__item-number-unit--simulators {
  display: block;
  font-size: 22px;
  font-weight: 700;
  margin-left: 0;
  margin-bottom: 19px;
}

.features__item-name {
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  margin-left: -16px;
  margin-bottom: 12px;
}

.features__item-name--simulators {
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  width: 160px;
  margin-left: 0;
  margin-bottom: 39px;
}

.features__item-name--comfort {
  margin-bottom: 14px;
}

.features__item-text {
  display: inline-block;
  width: 230px;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  margin: 0 0 0 30px;
}

.features__item-text--cars {
  margin-left: -15px;
}

.features__item-text--comfort {
  display: block;
}

.features__item-text--years {
  display: block;
  width: 200px;
  margin-left: 45px;
  padding-bottom: 40px;
}

@media (min-width: $tablet-width) {
  .features {
    padding-bottom: 2px;
  }

  .features__header {
    padding-top: 59px;
    margin-left: 246px;
    margin-bottom: 41px;
  }

  .features__item-wrapper {
    display: flex;
    margin-left: 50px;
  }

  .features__item {
    display: flex;
    margin-left: 12px;
    text-align: left;
  }

  .features__item--square {
    margin-right: 58px;
  }

  .features__item--simulators {
    width: 320px;
    margin: 12px auto 35px;
  }

  .features__item--experience {
    margin-left: 30px;
  }

  .features__item-number-wrapper {
    margin-right: 10px;
  }

  .features__item-number {
    font-size: 70px;
    margin-bottom: -2px;
  }

  .features__item-number--simulators {
    padding-top: 30px;
    margin-left: 107px;
    margin-bottom: 18px;
  }

  .features__item-number-unit {
    margin-left: -16px;
    margin-bottom: 0;
  }

  .features__item-number-unit--simulators {
    font-size: 24px;
    margin-left: 98px;
    margin-bottom: 19px;
  }

  .features__item-name {
    font-size: 20px;
    margin-left: 4px;
    margin-top: 4px;
    margin-bottom: 10px;
  }

  .features__item-name--simulators {
    font-size: 16px;
    line-height: 24px;
    width: 180px;
    text-align: center;
    margin-left: 70px;
    margin-bottom: 35px;
  }

  .features__item-text {
    font-size: 16px;
    line-height: 24px;
    margin-left: 4px;
    width: 240px;
  }

  .features__item-text--square {
    width: 180px;
  }

  .features__item-text--comfort {
    width: 220px;
  }

  .features__item-text--years {
    width: 230px;
  }
}

@media (min-width: $desktop-width) {
  .features__relative-wrapper {
    position: relative;
    width: 100%;
  }

  .container-1 {
    margin: 0 auto;
    width: 1366px;
  }

  .features__header {
    font-size: 54px;
    padding-top: 97px;
    margin-left: 506px;
  }

  .features__item {
    margin-bottom: 83px;
    margin-right: 446px;
    overflow: visible;
  }

  .features__item--experience {
    margin-left: 0;
  }

  .features__item--square {
    margin-right: 474px;
  }

  .features__item-wrapper {
    margin-left: 107px;
  }

  .features__item-wrapper--top::after {
    position: absolute;
    right: 103px;
    top: 354px;
    content: "";
    width: 360px;
    height: 2px;
    background-color: rgba(209, 10, 66, 0.2);
  }

  .features__item-wrapper--top::before {
    position: absolute;
    left: 103px;
    top: 354px;
    content: "";
    width: 360px;
    height: 2px;
    background-color: rgba(209, 10, 66, 0.2);
  }

  .features__item-wrapper--bottom {
    margin-bottom: -18px;
  }

  .features__item-number-wrapper {
    margin-right: 40px;
  }

  .features__item-number--cars {
    margin-right: 35px;
  }

  .features__item-number--years {
    margin-right: 38px;
  }

  .features__item-name {
    font-size: 22px;
    margin-bottom: 6px;
  }

  .features__item-name--simulators {
    font-size: 16px;
    width: 280px;
    margin-left: 40px;
  }

  .features__item-number--simulators {
    padding-top: 53px;
    margin-left: 127px;
    margin-bottom: 4px;
  }

  .features__item-number-unit--simulators {
    font-size: 26px;
    margin-left: 112px;
    margin-bottom: 23px;
  }

  .features__item-text--years {
    width: 220px;
  }

  .features__item--simulators {
    position: absolute;
    left: 503px;
    top: -197px;
    width: 360px;
    height: 300px;
  }
}
