.hero {
  background: linear-gradient(90deg, rgb(28, 52, 119), rgb(28, 52, 119) 0.01%, rgb(26, 53, 120) 39.11%, rgb(115, 24, 75) 75.5%, rgb(180, 2, 42) 100%);
  margin-bottom: 39px;
}

.hero__logo {
  margin-top: 16px;
  margin-left: 15px;
  margin-right: 38px;
}

.hero__phone {
  display: inline-block;
  margin-bottom: 2px;
  font-size: 22px;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
  vertical-align: bottom;
}

.hero__flex-wrapper {
  display: flex;
  padding-top: 60px;
  margin-bottom: 47px;
}

.hero__features {
  color: #ffffff;
  text-align: right;
  line-height: 20px;
  margin: 113px 0 0;
}

.hero__name-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 22px;
}

.hero__city {
  color: #ffffff;
  font-family: "Alumni Sans", "Arial", sans-serif;
  font-size: 32px;
  font-weight: 600;
  margin: 1px 0 12px 102px;
}

.hero__header {
  margin: 0 14px 0 0;
  color: #ffffff;
  font-family: "Alumni Sans", "Arial", sans-serif;
  font-size: 62px;
  font-weight: 800;
  line-height: 62px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: right;
}

.hero__subscription-button {
  padding: 22px 90px;
  margin-left: 15px;
  margin-bottom: 32px;
}
