.juri__header {
  margin: 0 0 17px 128px;
}

.juri__member {
  display: none;
  position: relative;
  margin-left: 46px;
  margin-bottom: 35px;
}

.juri__member-photo {
  position: relative;
  width: 227px;
  height: 280px;
}

.juri__name {
  display: none;
  position: absolute;
  left: 72px;
  bottom: 27px;
  font-size: 22px;
  font-weight: 400;
  color: #ffffff;
}

.juri__switcher {
  display: none;
}

.juri__member--mobile {
  display: block;
}

@media (min-width: $tablet-width) {

  .juri__header {
    font-size: 54px;
    margin-top: 52px;
    margin-left: 332px;
    margin-bottom: 42px;
  }

  .juri__member {
    margin: 0 17px 0 23px;
  }

  .juri__member-photo {
    width: 260px;
    height: 300px;
  }

  .juri__member--mobile {
    display: none;
  }

  .juri__member--tablet {
    display: block;
  }

  .juri__name {
    left: 65px;
  }

  .juri__name--lavrov {
    left: 55px;
  }

  .juri__switcher {
    display: block;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    width: 56px;
    height: 56px;
    padding: 0;
    margin-top: 124px;
    cursor: pointer;

    &:hover,
    &:focus,
    &:active {
      border: 1px solid #102654;
    }

    &:focus {
      background-color: #e8e8e8;
    }

    &:active {
      background-color: #102654;
    }

    &:active .juri__switcher-icon {
      stroke: #fff;
    }

    &:disabled {
      border: none;
      background-color: transparent;
      stroke: rgba(16, 38, 84, 0.3);
    }
  }

  .juri__switcher--right {
    margin-left: 6px;
  }

  .juri__switcher-icon {
    stroke: #102654;
  }

  .juri__switcher-icon--right {
    transform: rotate(180deg);
  }
}

@media (min-width: $desktop-width) {
  .juri__slider{
    width: 1160px;
    margin-bottom: 100px;
  }

  .juri__header {
    margin-top: 192px;
    margin-left: 104px;
  }

  .juri__member {
    display: block;
    margin: 0;
  }

  .juri__member-photo {
    display: block;
    margin: 0 auto;
  }

  .juri__name {
    display: inline-block;
    bottom: 23px;
    left: 66px;
  }

  .juri__name--pashkov {
    left: 43px;
  }

  .juri__name--lavrov {
    left: 55px;
  }

  .juri__switcher {
    position: absolute;
    left: 27px;
    bottom: 223px;
    margin: 0;
  }

  .juri__switcher--right {
    right: 27px;
    left: auto;
  }

  .juri__member-info {
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(16, 38, 84, 0.89);
    width: 260px;
    height: 300px;
    z-index: 0;
  }

  .juri__member-info--active {
    z-index: 1;
  }

  .juri__member-info-name {
    display: block;
    font-size: 22px;
    color: #fff;
    padding: 44px 0 0 43px;
  }

  .juri__member-info-category {
    display: block;
    font-size: 16px;
    color: #b6bdcc;
    padding: 9px 0 0 104px;
  }

  .juri__member-info-resume {
    font-size: 14px;
    line-height: 22px;
    color: #fff;
    margin: 0;
    padding: 36px 0 0 66px;
  }

  .juri__member-info-resume-point {
    position: relative;
    width: 150px;
    margin-bottom: 12px;
    list-style: none;

    &:before {
      content: "";
      position: absolute;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: #fff;
      top: 7px;
      left: -16px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
