.offers-header {
  margin: 0 0 37px 129px;
  padding-top: 8px;
}

.offers__year-offer {
  background-color: #ed0233;
  color: #fff;
}

.offers__year-offer-header {
  font-size: 22px;
  font-weight: 700;
  margin: 0 0 1px 144px;
  padding-top: 29px;
}

.offers__year-offer-price {
  display: inline-block;
  font-size: 64px;
  font-weight: 700;
  margin-left: 95px;
  margin-bottom: 24px;
}

.offers__year-offer-text {
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  width: 175px;
  text-align: center;
  margin: 0 0 28px 72px;
}

.offers__year-offer-more {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  margin-left: 123px;
  margin-bottom: 30px;
  padding-bottom: 3px;
  border-bottom: 1px solid #fff;
}
