.offers {
  margin-bottom: 40px;
}

.offers-header {
  margin: 0 0 37px 129px;
  padding-top: 8px;
}

.offers__year-offer {
  background-color: #ed0233;
  color: #ffffff;
}

.offers__year-offer-header {
  font-size: 22px;
  font-weight: 700;
  margin: 0 0 1px 144px;
  padding-top: 29px;
}

.offers__year-offer-price {
  display: inline-block;
  font-size: 64px;
  font-weight: 700;
  margin-left: 95px;
  margin-bottom: 24px;
}

.offers__year-offer-text {
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  width: 175px;
  text-align: center;
  margin: 0 0 28px 72px;
}

.offers__year-offer-more {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  margin-left: 123px;
  margin-bottom: 30px;
  padding-bottom: 3px;
  border-bottom: 1px solid #ffffff;

  &:hover {
    color: rgba(255, 255, 255, 0.8);
    border-color: rgba(255, 255, 255, 0.8);
  }

  &:focus,
  &:active {
    color: #fff;
    border-color: #fff;
  }

  &:focus {
    border: none;
    outline: 1px solid #fff;
    outline-offset: 10px;
    margin-bottom: 34px;
    padding-bottom: 0;
  }

  &:active {
    outline: none;
    border-bottom: 1px solid #ffffff;
    margin-bottom: 30px;
    padding-bottom: 3px;
  }

  &:disabled {
    outline: none;
    border-bottom: 1px solid #ffffff;
    opacity: 0.5;
  }
}

.offers__girl-photo {
  margin-bottom: 35px;
}

.offers__offer {
  border-width: 7px;
  border-style: solid;
  border-image: linear-gradient(to right, #d10a42, #00359f);
  border-image-slice: 1;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
}

.offers__offer-header {
  font-size: 22px;
  font-weight: 700;
  margin: 19px 0 19px 58px;
}

.offers__offer-header--discount {
  margin-left: 83px;
}

.offers__offer-text {
  width: 200px;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  margin: 0 0 19px 38px;
  text-align: center;
}

.offers__offer-text--discount {
  width: 210px;
  margin-left: 33px;
}

.offers__offer-more-info {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #1c3374;
  margin-left: 102px;
  margin-bottom: 20px;
  padding-bottom: 3px;
  border-bottom: 1px solid #74819c;

  &:hover {
    color: rgba(28, 51, 116, 0.8);
    border-color: rgba(28, 51, 116, 0.8);
  }

  &:focus,
  &:active {
    color: #1c3374;
  }

  &:focus {
    border: none;
    outline: 1px solid #1c3374;
    outline-offset: 10px;
    margin-bottom: 24px;
    padding-bottom: 0;
  }

  &:active {
    outline: none;
    border-bottom: 1px solid #1c3374;
    margin-bottom: 20px;
    padding-bottom: 3px;
  }

  &:disabled {
    outline: none;
    border-bottom: 1px solid #1c3374;
    opacity: 0.5;
  }
}
