.page-footer {
  background-color: #030a1a;
}

.page-footer__logo {
  margin-top: 40px;
  margin-left: 15px;
  margin-bottom: 29px;
}

.page-footer__links {
  display: flex;
  flex-wrap: wrap;
  width: 290px;
  margin-left: 15px;
  margin-bottom: 7px;
}

.page-footer__link {
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  color: #ffffff;
  margin-right: 36px;
  margin-bottom: 24px;

  &:hover {
    padding-bottom: 5px;
    margin-bottom: 16px;
    border-bottom: 1px solid #fff;
  }

  &:focus {
    padding-bottom: 0;
    margin-bottom: 24px;
    border: none;
    outline: 1px solid #fff;
    outline-offset: 5px;
  }

  &:active {
    border: none;
    outline: none;
  }

  &:disabled {
    color: rgba(255, 255, 255, 0.4);
    padding-bottom: 0;
    margin-bottom: 24px;
    border: none;
  }
}

.page-footer__social-links {
  margin-left: 15px;
  padding-bottom: 36px;
}

.page-footer__social-link {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #fff;
  border-radius: 50%;
  margin-right: 17px;
  text-decoration: none;

  &:hover {
    background-color: #74819c;
  }

  &:focus {
    background-color: #103aae;
  }

  &:active {
    background-color: #102654;
  }

  &:hover .page-footer__social-image,
  &:focus .page-footer__social-image,
  &:active .page-footer__social-image{
    fill: #fff;
  }

  &:disabled {
    background-color: rgba(255, 255, 255, 0.3);
  }

  &:disabled .page-footer__social-image {
    fill: #030a1a;
  }
}

.page-footer__social-image {
  fill: #030a1a;
  margin-left: 6px;
}

.page-footer__social-image--ok {
  margin-left: 8px;
}

@media (min-width: $tablet-width) {
  .page-footer {
    padding-bottom: 40px;
  }

  .page-footer__flex-wrapper {
    display: flex;
  }

  .page-footer__logo {
    width: 110px;
    height: 22px;
    margin: 45px 36px 0 45px;
  }

  .page-footer__links {
    width: auto;
    margin-top: 50px;
    margin-left: 0;
    margin-bottom: 0;
  }

  .page-footer__link {
    margin-bottom: 0;
    margin-right: 31px;

    &:last-child {
      margin-right: 0;
    }
  }

  .page-footer__link--subscription {
    margin-right: 30px;
  }

  .page-footer__social-links {
    margin-left: 36px;
    margin-top: 45px;
    padding-bottom: 0;
  }

  .page-footer__social-link {
    margin-right: 12px;
  }
}
