.page-header {
  background: linear-gradient(90.00deg, rgb(28, 52, 119),rgb(28, 52, 119) 0.01%,rgb(26, 53, 120) 39.106%,rgb(115, 24, 75) 75.502%,rgb(180, 2, 42) 100%);
}

.page-header__logo {
  margin-top: 16px;
  margin-left: 15px;
  margin-right: 38px;
}

.page-header__phone {
  font-size: 22px;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
   vertical-align: bottom;
}
