.page-footer {
  background-color: #030a1a;
}

.page-footer__logo {
  margin-top: 40px;
  margin-left: 15px;
  margin-bottom: 29px;
}

.page-footer__links {
  display: flex;
  flex-wrap: wrap;
  width: 290px;
  margin-left: 15px;
  margin-bottom: 7px;
}

.page-footer__link {
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  color: #ffffff;
  margin-right: 36px;
  margin-bottom: 24px;
}

.page-footer__social-links {
  margin-left: 15px;
  padding-bottom: 36px;
}

.page-footer__social-links-item {
  margin-right: 17px;
}
