.price {
  background-color: #f8f9fc;
}

.price__header {
  margin: 0 0 26px 97px;
  padding-top: 39px;
}

.price__time-choose {
  background-color: transparent;
  border: none;
  font-size: 16px;
  color: rgba(16, 38, 84, 0.5);
  margin-bottom: -2px;
  padding: 0 0 14px;
  border-bottom: 2px solid transparent;

  &:not(:last-child) {
    margin-right: 42px;
  }

  &:hover {
    color: rgba(16, 38, 84, 0.7);
    border-color: #787878;
  }

  &:focus,
  &:active {
    color: #102654;
  }

  &:focus {
    border-color: #102654;
  }

  &:active {
    border-color: #ed0233;
  }
}

.price__time-choose--active {
  border-bottom: 2px solid #ed0233;
}

.price__buttons-wrapper {
  margin-left: 15px;
  margin-right: 15px;
  border-bottom: 2px solid rgba(120, 120, 120, 0.2);
}

.price__cards-wrapper {
  padding-top: 30px;
  padding-bottom: 40px;
  margin-left: 15px;
  margin-right: 15px;
}

.price__item-card {
  background-color: #ffffff;
  position: relative;
  border: 7px solid transparent;

  &:not(:last-child) {
    margin-bottom: 35px;
  }
}

.price__item-card--hover {
  border-image: linear-gradient(151.36deg, rgba(237, 2, 51, 0.8) 16.95%, rgba(0, 62, 183, 0.8) 96.59%);
  border-image-slice: 1;
}

.price__item-card-header {
  font-size: 22px;
  text-align: center;
  padding-top: 49px;
  margin: 0 0 20px;
}

.price__item-card-text {
  font-weight: 300;
  text-align: center;
  margin: 0 0 97px;
}

.price__item-card-price-wrapper {
  display: flex;
  align-items: center;
  margin-left: 79px;
  margin-bottom: 36px;
}

.price__item-card-price {
  position: relative;
  z-index: 1;
  font-size: 48px;
  font-weight: 700;
  margin: 0 11px 0 0;

  &::before {
    content: attr(value);
    position: absolute;
    z-index: -1;
    top: -49px;
    left: -15px;
    width: 500px;
    color: #e8e8e8;
    font-size: 80px;
  }
}

.price__item-card-ruble-icon {
  z-index: 1;
}

.price__item-card-buy {
  color: #102654;
  border-color: #102654;
  padding: 25px 42px;
  margin-left: 47px;
  margin-bottom: 50px;

  &:active {
    color: rgba(255, 255, 255, 0.7);
  }

  &:disabled {
    border: 2px solid rgba(16, 38, 84, 0.3);
    background-image: none;
    color: rgba(16, 38, 84, 0.3);
    padding: 25px 42px;
  }
}

.price__item-card-buy--hover {
  border: none;
  padding: 27px 44px;
  color: #fff;
  background-image: linear-gradient(151.36deg, rgba(237, 2, 51, 0.8) 16.95%, rgba(0, 62, 183, 0.8) 96.59%);
}

.price__weight-plates-img {
  display: none;
}

@media (min-width: $tablet-width) {
  .price__header {
    margin: 0 0 32px 107px;
    padding-top: 58px;
  }

  .price__buttons-wrapper {
    margin-left: 35px;
    margin-right: 35px;
  }

  .price__time-choose {
    font-size: 18px;
    padding-bottom: 4px;

    &:not(:last-child) {
      margin-right: 40px;
    }
  }

  .price__cards-wrapper {
    padding-top: 45px;
    padding-bottom: 61px;
    margin: 0;
  }

  .price__item-card {
    z-index: 1;

    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  .price__item-card-header {
    font-size: 24px;
    padding-top: 63px;
    margin-bottom: 24px;
  }

  .price__item-card-text {
    font-size: 16px;
    margin-bottom: 95px;
  }

  .price__item-card-price {
    font-size: 60px;
    margin-right: 15px;

    &:before {
      font-size: 100px;
      top: -54px;
      left: -15%;
    }
  }

  .price__item-card-price-wrapper {
    margin-left: 107px;
    margin-bottom: 32px;
  }

  .price__item-card-ruble-icon {
    width: 30px;
    height: 42px;
  }

  .price__item-card-buy {
    padding-left: 70px;
    padding-right: 69px;
    margin-left: 65px;
    margin-bottom: 65px;
  }

  .price__weight-plates-img {
    display: block;
    position: absolute;
    left: 249px;
    bottom: -34px;
    z-index: 0;
  }
}

@media (min-width: $desktop-width) {
  .price__header {
    font-size: 54px;
    margin-left: 576px;
    padding-top: 96px;
    margin-bottom: 15px;
  }

  .price__time-choose {
    font-size: 20px;
    padding-bottom: 6px;
  }

  .price__time-choose:not(:last-child) {
    margin-right: 48px;
  }

  .price__buttons-wrapper {
    width: 350px;
    margin-left: 508px;
  }

  .price__cards-wrapper {
    display: flex;
    padding-top: 40px;
    margin-left: 103px;
    padding-bottom: 100px;
  }

  .price__item-card {
    width: 346px;
  }

  .price__item-card:not(:last-child) {
    margin-right: 40px;
    margin-bottom: 0;
  }

  .price__item-card-header {
    font-size: 26px;
    margin-bottom: 18px;
    padding-top: 57px;
  }

  .price__item-card-text {
    margin-bottom: 91px;
  }
  .price__item-card-price-wrapper {
    margin-left: 90px;
    margin-bottom: 28px;
  }

  .price__item-card-buy {
    padding-left: 43px;
    padding-right: 43px;
    margin-left: 75px;
    margin-bottom: 58px;

    &:hover {
      padding-left: 45px;
      padding-right: 45px;
    }
  }

  .price__item-card-buy--hover {
    padding-left: 45px;
    padding-right: 45px;
  }

  .price__weight-plates-img {
    width: auto;
    height: auto;
    left: auto;
    right: -167px;
    bottom: -45px;
  }
}
