.reviews {
  margin-bottom: 40px;
}

.reviews__review {
  background-color: #1c3374;
  margin-left: 40px;
  margin-right: 40px;
  color: #ffffff;
}

.reviews__header {
  margin: -2px 0 36px 118px;
}

.reviews__review-avatar {
  margin-left: 86px;
  margin-top: 30px;
  margin-bottom: 6px;
}

.reviews__review-name {
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  margin-left: 71px;
  margin-bottom: 17px;
}

.reviews__review-text {
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  margin: 0 0 0 25px;
  padding-bottom: 29px;
  width: 190px;
  text-align: center;
}
