.button {
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  border: 2px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
}
